table {
    border-collapse: collapse;
}
th {
    text-align: left;
    background-color: grey;
    padding: 4px 30px 4px 8px;
    color: azure;
}
td {
    border: 1px solid gray;
    padding: 4px 8px;
}

table tr:nth-child(odd) td{
    background-color: #efefef;
}